den.nicholascaron.com {
	tls {
		issuer acme {
			disable_tlsalpn_challenge
		}
	}
	request_body {
		max_size 1100MB
	}
	reverse_proxy 127.0.0.1:7000
}

rtc.den.nicholascaron.com {
	tls {
		issuer acme {
			disable_tlsalpn_challenge
		}
	}
	reverse_proxy 127.0.0.1:7880
}
